{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
{{category.name}}
{% endblock title %}

{% block content %}
    <br>
    <h1>{{category.name}}</h1>
    <hr>
    {% if perms.news.add_post %}
    <p><a class="page-link text-center" href="{% url 'news-create' %}">Добавить новость</a></p>
    <p><a class="page-link text-center" href="{% url 'article-create' %}">Добавить статью</a></p>
    <hr>
    {% endif %}
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' pk=category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
    {% else %}
        <p class="text-center"><a href="{% url 'unsubscribe' pk=category.id %}" class="btn btn-secondary btn-sm">Отписаться</a></p>
    {% endif %}
    {% if category_news_list %}
        {% for post in category_news_list %}
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">
                        <a class="page-link text-center" href="{% url 'news-detail' pk=post.id %}">{{ post.headline }}</a>
                    </h6>
                </div>
                <div class="card-body">
                    <p class="text-secondary text-end">{{ post.pub_date|date:"d.m.Y" }} {{ post.pub_date|time:"H:i" }}</p>
                    <p class="text-start">{{ post.body_text|censor|truncatechars:128|linebreaks }}</p>
                    <p class="text-secondary">Теги:
                        {% for category in post.category.all %}
                            <button class="btn-sm border-0">
                                <a class="text-decoration-none" href="{% url 'category-list' pk=category.id %}">{{ category }}</a>
                            </button>
                        {% endfor %}
                    </p>
                    {% if perms.news.change_post and perms.news.delete_post and post.post_type == 'N' %}
                    <p class="text-end">
                        <a class="text-decoration-none" href="{% url 'news-edit' pk=post.id %}">Редактировать новость</a>
                    </p>
                    <p class="text-end">
                        <a class="text-decoration-none" href="{% url 'news-delete' pk=post.id %}">Удалить новость</a>
                    </p>
                    {% endif %}
                    {% if perms.news.change_post and perms.news.delete_post and post.post_type == 'A' %}
                    <p class="text-end">
                        <a class="text-decoration-none" href="{% url 'article-edit' pk=post.id %}">Редактировать статью</a>
                    </p>
                    <p class="text-end">
                        <a class="text-decoration-none" href="{% url 'article-delete' pk=post.id %}">Удалить статью</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>В этой категории новостей нет</h3>
    {% endif %}

    <div class="pagination-sm text-center">
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
    </div>

{% endblock content %}